.mainSection{
    display: flex;
    flex-direction: row;
    width:auto;
    padding: 10px;
}
.drawer-container{
    width: 14%;
}

.left-content-container{
    width: 86%;
}

.res-table{
    padding: 0;
}